* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222328;
}

img {
    vertical-align: top;
}

.modal {
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: none;
}

.modal_index {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: lime;
    width: 500px;
    height: 300px;
}

.modal h2 {
    text-align: center;
    color: red;
    font-size: 40px;
    font-weight: bold;
}

.modal p {
    margin-left: 100px;
    font-size: 20px;
    color: blue;
    margin-top: 30px;
}

.modal button {
    margin-left: 244px;
    margin-top: 20px;
}

.warp {
    width: 1000px;
    height: 650px;
}

header {
    width: 200px;
    height: 650px;
    float: left;
    z-index: 100;
}

header h1 {
    padding-top: 20px;
    padding-bottom: 20px;

}

nav {
    width: 150px;
    margin: 0 auto;
    position: relative;
}

nav ul.gnb {}

nav ul.gnb>li {
    background: lime;
    text-align: center;

}

nav ul.gnb>li>a {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: block;
}

nav ul.gnb>li:hover>a {
    background: red;
    color: #fff;
}

nav ul.gnb>li>ul.sub {
    display: none;
    width: 100%;
    left: 150px;
    top: 0;
    position: absolute;
    z-index: 100;
}

nav ul.gnb>li>ul.sub>li {
    width: 100%;
    height: 33px;
    line-height: 33px;
}

nav ul.gnb>li>ul.sub>li>a {
    background: red;
    width: 100%;
    color: #fff;
    display: block;
}

nav ul.gnb>li>ul.sub>li:hover {
    background: #fff;
    color: #222328;
}


.slide {
    width: 800px;
    height: 350px;
    background: lightcyan;
    float: left;
    position: relative;
    overflow: hidden;
}

.slide ul {
    width: 300%;
    left: 0;
    top: 0;
    position: absolute;
}

.slide ul li {
    float: left;
}

.contents {
    width: 800px;
    height: 200px;
    float: left;
}

.contents .notice {
    width: 300px;
    height: 200px;
    float: left;
}

.contents .notice ul li {
    height: 33px;
    font-size: 13px;
    line-height: 33px;
}

.contents .notice ul li:hover a {
    background-color: lime;
}

.contents .notice ul li a {
    display: block;
}

.contents .notice span {
    float: right;
    font-size: 10px;
}

.contents .gal {
    width: 250px;
    height: 200px;
    float: left;
}

.contents .gal ul {}

.contents .gal ul li {
    margin-top: 50px;
    margin-left: 10px;
    float: left;
}

.contents .gal ul li:hover a {
    opacity: 0.5;
}

.contents h2 {
    background: red;
    color: #fff;
}

.contents .banner {
    width: 250px;
    height: 200px;
    float: left;
}

footer {
    width: 800px;
    height: 100px;
    background: lightsalmon;
    float: left;
}

footer .logo {
    width: 200px;
    height: 100px;
    background: lime;
    float: left;
}

footer .logo img {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer .menu_copy {
    width: 600px;
    height: 100px;
    background: lightslategray;
    float: left;
    line-height: 50px;
    text-align: center;
}

footer .menu {
    width: 600px;
    height: 50px;
    background: lime;
    float: left;
}

footer .menu select {
    width: 100%;
    height: 40px;
}

footer .menu select option {}

footer .copy {
    width: 600px;
    height: 50px;
    background: lime;
    float: left;
}